*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags
/samples/cpp/tutorial_code/vc10/Debug
/samples/cpp/tutorial_code/vc10/*.sdf
/samples/cpp/tutorial_code/vc10/*.opensdf
/samples/cpp/tutorial_code/vc10/Release
