*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags
/samples/cpp/tutorial_code/vc10/Debug
/samples/cpp/tutorial_code/vc10/*.sdf
/samples/cpp/tutorial_code/vc10/*.opensdf
/samples/cpp/tutorial_code/vc10/Release
/samples/cpp/tutorial_code/vc10/*.suo
/samples/cpp/tutorial_code/vc10/ipch
/samples/vc10/*.suo
/samples/vc10/*.sdf
/samples/vc10/*.opensdf
/samples/vc10/Debug
/samples/vc10/ipch
/samples/vc10/faceDetect/Debug
/samples/vc10/faceDetect/Release
/samples/vc10/faceDetectGPU/Debug
/samples/vc10/faceDetectOCL/Debug
/samples/vc10/houghLine/Debug
/samples/vc10/houghLineGPU/Debug
/samples/vc10/Release
/samples/vc10/faceDetectGPU/Release
