*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags
/samples/cpp/tutorial_code/vc10/Debug
/samples/cpp/tutorial_code/vc10/*.sdf
/samples/cpp/tutorial_code/vc10/*.opensdf
/samples/cpp/tutorial_code/vc10/Release
/samples/cpp/tutorial_code/vc10/*.suo
/samples/cpp/tutorial_code/vc10/ipch
/samples/vc10/*.suo
/samples/vc10/*.sdf
/samples/vc10/*.opensdf
/samples/vc10/Debug
/samples/vc10/ipch
/samples/vc10/faceDetect/Debug
/samples/vc10/faceDetect/Release
/samples/vc10/faceDetectGPU/Debug
/samples/vc10/faceDetectOCL/Debug
/samples/vc10/houghLine/Debug
/samples/vc10/houghLineGPU/Debug
/samples/vc10/Release
/samples/vc10/faceDetectGPU/Release
/samples/vc10/houghLineGPU/Release
/build/*.opensdf
/build/*.sdf
/build/3rdparty/libjasper/libjasper.dir
/build/3rdparty/libjasper/Release
/build/3rdparty/libjpeg/libjpeg.dir
/build/3rdparty/libjpeg/Release
/build/3rdparty/libpng/libpng.dir
/build/3rdparty/libpng/Release
/build/3rdparty/libtiff/libtiff.dir
/build/3rdparty/libtiff/Release
/build/3rdparty/openexr/IlmImf.dir
/build/3rdparty/openexr/Release
/build/3rdparty/zlib/zlib.dir
/build/3rdparty/zlib/Debug
/build/3rdparty/zlib/Release
/build/ipch
/build/modules/gpu/opencv_test_gpu.dir
/build/modules/gpu/opencv_gpu.dir
/build/modules/gpu/opencv_perf_gpu.dir
/build/modules/core/opencv_perf_core.dir
/build/modules/core/opencv_test_core.dir
/build/modules/core/opencv_core.dir
/build/modules/imgproc/Release
/build/modules/imgproc/opencv_imgproc.dir
/build/modules/imgproc/opencv_perf_imgproc.dir
/build/modules/imgproc/opencv_test_imgproc.dir
/build/modules/calib3d/*
/build/modules/contrib/*
/build/modules/features2d/*
/build/modules/flann/*
/build/modules/highgui/*
/build/modules/legacy/*
/build/modules/ml/*
/build/modules/objdetect/*
/build/modules/ocl/*
/build/modules/photo/*
/build/modules/ts/*
/build/modules/video/*
/build/Win32
/build/CMakeFiles
/build/3rdparty/lib
/build/modules/core/CMakeFiles/*
/build/modules/gpu/CMakeFiles/*
/build/modules/nonfree/*
/build/lib
/build/bin
/build/*.suo
/samples/vc10/resizeXPU/Release
/samples/vc10/resizeXPU/Debug
/samples/vc10/houghLine/Release
/build/modules/gpu/Release
/build/modules/gpu/Win32
/build/modules/gpu/Debug
/build/modules/gpu/ipch
/build/modules/gpu/*.suo
/build/modules/gpu/*.opensdf
/build/samples/cpp/*.sdf
/build/samples/cpp/*.opensdf
/build/modules/gpu/*.sdf
/build/samples/cpp/ipch
/build/samples/cpp/Win32
/build/samples/c/Win32
/build/samples/c/ipch
/build/samples/c/*.sdf
/build/samples/c/*
/samples/c/*.yml
/build/3rdparty/libpng/Debug/*.cache
/samples/vc10/faceDetectSenseTime/Debug
/samples/vc10/sampleSenseTime/Debug
/samples/vc10/faceDetectST/Debug
/samples/vc10/faceSearchST/Debug
